<header>
    <button onclick="window.location.href='/'">Accueil</button>
    <button onclick="window.location.href='/games'">Jeux</button>
    <button onclick="window.location.href='/editor'">Editeurs</button>
    <button onclick="window.location.href='/genres'">Genres</button>
</header>