<h1>Liste des jeux</h1>

<table>
  <caption>
    Tous les jeux dans la base de donnée
  </caption>
  <thead>
    <tr>
      <th scope="col">Nom du jeu</th>
      <th scope="col">Description</th>
      <th scope="col">Editor</th>
      <th scope="col">Genre</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Buzzcocks</th>
      <td>1976</td>
      <td>9</td>
      <td>
        <i lang="en">Ever fallen in love (with someone you shouldn't've)</i>
      </td>
    </tr>
    <tr>
      <th scope="row">The Clash</th>
      <td>1976</td>
      <td>6</td>
      <td><i lang="en">London Calling</i></td>
    </tr>

    <!-- quelques lignes supprimées pour condenser le texte -->

    <tr>
      <th scope="row">The Stranglers</th>
      <td>1974</td>
      <td>17</td>
      <td><i lang="en">No More Heroes</i></td>
    </tr>
  </tbody>
</table>



<ul>
    {{#each games}}
        <li>
            <p>{{Description}}</p> 
        </li>
    {{/each}}

    {{#each editors}}
        <li>
            <p>{{name}}</p> 
        </li>
    {{/each}}
    {{#each genres}}
        <li>
            <p>{{name}}</p> 
        </li>
    {{/each}}
</ul>