<h1>Liste des genres de jeux</h1>
<div id="liste">
<ul>
    {{#each genres}}
        <li>
            <a href="/genres?id={{id}}">{{name}}</a>
        </li>
    {{/each}}
</ul>
</div>
{{#if gamesWithGenre}}
<h1>Liste des jeux du genre</h1>
{{>tableauenumgames games=gamesWithGenre}}
{{/if}}
